In [1]:
import numpy as np

x = np.random.normal(loc=0.5, scale=1, size=20)
y = np.random.normal(loc=1.5, scale=1, size=20)

In [2]:
import scipy.stats as sts
sts.shapiro(x)
sts.shapiro(y)

ShapiroResult(statistic=0.9557169079780579, pvalue=0.462209016084671)

In [3]:
from statsmodels.stats.diagnostic import lilliefors
lilliefors(x, pvalmethod="approx")
lilliefors(y, pvalmethod="approx")

(0.14888773444804376, 0.28772020904742596)

In [16]:
import sfrancia as sf
sf.shapiroFrancia(x)
sf.shapiroFrancia(y)

ModuleNotFoundError: No module named 'sfrancia'

In [6]:
sts.ttest_ind(x, y, equal_var=True)

TtestResult(statistic=-3.21236511422204, pvalue=0.0026815721618072687, df=38.0)

In [7]:
#  conda install -c conda-forge pingouin

In [17]:
import pingouin as pg

pg.ttest(x, y, correction=True)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-3.212365,34.96831,two-sided,0.002825,"[-1.99, -0.45]",1.015839,13.977,0.879045

In [12]:
import pandas as pd
icu = pd.read_csv("ICUData.csv")
icu

,ID,sex,age,surgery,heart rate,temperature,bilirubin,SAPS II,liver failure,LOS,outcome
0,1,female,76,other,98.0,36.5,6.512142,57,0,1,died
1,2,female,60,gastrointestinal,80.0,38.1,14.523197,52,0,2,home
2,3,male,66,cardiothoracic,99.6,37.4,22.972480,57,0,1,secondary care/rehab
3,4,male,74,other,110.0,39.1,19.299346,45,0,2,home
4,5,female,68,other,94.1,38.5,39.076485,49,0,1,home
...,...,...,...,...,...,...,...,...,...,...,...
495,496,male,62,cardiothoracic,118.0,37.3,13.234537,33,0,1,secondary care/rehab
496,497,male,67,cardiothoracic,115.0,38.0,10.740772,56,0,1,died
497,498,female,53,cardiothoracic,131.0,37.9,14.131188,38,0,3,secondary care/rehab
498,499,male,68,other,86.9,36.0,9.596478,66,0,2,home
499,500,male,75,cardiothoracic,92.0,37.6,11.660875,25,0,1,secondary care/rehab

In [13]:
from scipy import stats
data = icu.temperature.drop(397)
stats.ttest_1samp(data, popmean=37.5, alternative="greater")

TtestResult(statistic=4.197348728151364, pvalue=1.59934647255863e-05, df=498)

In [15]:
import pingouin as pg
pg.ttest(data, 37.5, alternative="greater")

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,4.197349,498,greater,0.000016,"[37.63, inf]",0.187899,550.419,0.994564

In [18]:
stats.ttest_1samp(icu.temperature, popmean=37.5, alternative="greater")

TtestResult(statistic=2.1027472872691644, pvalue=0.01799407119910482, df=499)

In [19]:
sts.shapiro(icu[icu.sex == "female"].temperature)
sts.shapiro(icu.drop(397)[icu.drop(397).sex == "male"].temperature)

ShapiroResult(statistic=0.9879996180534363, pvalue=0.008832931518554688)

In [20]:
np.var(icu[icu.sex == "female"].temperature)

1.5743588571428573

In [21]:
np.var(icu[icu.sex == "male"].temperature)

3.7756199763313587

In [22]:
np.var(icu.drop(397)[icu.drop(397).sex == "male"].temperature)

1.2580727023319607

In [23]:
sts.ttest_ind(icu[icu.sex == "female"].temperature, 
                icu[icu.sex == "male"].temperature, equal_var=False)

TtestResult(statistic=-0.3763844542391408, pvalue=0.7067968223676342, df=481.7086606343309)

In [24]:
sts.ttest_ind(icu.drop(397)[icu.drop(397).sex == "female"].temperature, 
                icu.drop(397)[icu.drop(397).sex == "male"].temperature, equal_var=False)

TtestResult(statistic=-1.2514171914600383, pvalue=0.21168583024595652, df=323.7324571156322)

In [25]:
sts.wilcoxon(icu.drop(397).temperature - 37.5, alternative="greater")

WilcoxonResult(statistic=69173.0, pvalue=0.00016697168360892)

In [26]:
stats.mannwhitneyu(icu[icu.sex == "female"].temperature, 
                   icu[icu.sex == "male"].temperature)

MannwhitneyuResult(statistic=26387.5, pvalue=0.18333100511010658)

In [27]:
stats.mannwhitneyu(icu.drop(397)[icu.drop(397).sex == "female"].temperature, 
                icu.drop(397)[icu.drop(397).sex == "male"].temperature)

MannwhitneyuResult(statistic=26212.5, pvalue=0.16425374376579738)

In [28]:
group1 = icu[icu.sex == "female"].temperature
group2 = icu[icu.sex == "male"].temperature

#varyanslar hesaplanıyor
variance1 = np.var(group1, ddof=1)
variance2 = np.var(group2, ddof=1)

# f istatistiği hesaplanıyor
f_value = variance1 / variance2

# Serbestlik dereceleri hesaplanıyor
df1 = len(group1) - 1
df2 = len(group2) - 1

# p değeri hesaplanıyor
p_value = stats.f.cdf(f_value, df1, df2)

# sonuçlar yazdırılıyor
# Print the results
print('Degree of freedom 1:',df1)
print('Degree of freedom 2:',df2)
print("F-statistic:", f_value)
print("p-value:", p_value)

Degree of freedom 1: 174
Degree of freedom 2: 324
F-statistic: 0.41808627065941467
p-value: 3.033044478412221e-10

In [29]:
group1 = icu[icu.sex == "female"].temperature
group2 = icu[icu.sex == "male"].temperature

#varyanslar hesaplanıyor
variance1 = np.var(group1, ddof=1)
variance2 = np.var(group2, ddof=1)

# f istatistiği hesaplanıyor
f_value = variance1 / variance2

# Serbestlik dereceleri hesaplanıyor
df1 = len(group1) - 1
df2 = len(group2) - 1

# p değeri hesaplanıyor
p_value = stats.f.cdf(f_value, df1, df2)

# sonuçlar yazdırılıyor
# Print the results
print('Degree of freedom 1:',df1)
print('Degree of freedom 2:',df2)
print("F-statistic:", f_value)
print("p-value:", p_value)

Degree of freedom 1: 174
Degree of freedom 2: 324
F-statistic: 0.41808627065941467
p-value: 3.033044478412221e-10

In [30]:
stats.ansari(icu[icu.sex == "female"].temperature, icu[icu.sex == "male"].temperature)

AnsariResult(statistic=20903.5, pvalue=0.16875529793204147)

In [31]:
stats.ansari(icu.drop(397)[icu.drop(397).sex == "female"].temperature, 
                icu.drop(397)[icu.drop(397).sex == "male"].temperature)

AnsariResult(statistic=20807.5, pvalue=0.1477243639127207)

In [32]:
sts.binomtest(k=6, n=24, p=1/6, alternative='greater')
# Bu p değeri (0,1995) 0,05'ten küçük olmadığı için sıfır hipotezini reddetmede başarısız oluyoruz. 
# Zarın "3" sayısına eğilimli olduğunu söyleyecek yeterli kanıtımız yok.

BinomTestResult(k=6, n=24, alternative='greater', statistic=0.25, pvalue=0.1995295129479585)

In [33]:
sts.binomtest(k=19, n=30, p=1/2, alternative='greater')
# Bu p değeri (0,10024) 0,05'ten küçük olmadığı için sıfır hipotezini reddedemiyoruz. 
# Madalyonun tura eğilimli olduğunu söyleyecek yeterli kanıtımız yok.

BinomTestResult(k=19, n=30, alternative='greater', statistic=0.6333333333333333, pvalue=0.10024421103298667)

In [34]:
sts.binomtest(25, 500, p=0.05, alternative="less")

BinomTestResult(k=25, n=500, alternative='less', statistic=0.05, pvalue=0.5529388564087532)

In [35]:
result = pd.crosstab(icu['liver failure'], icu['sex'])
result

sex            female  male
liver failure
0                 168   312
1                   7    13

In [36]:
stats.fisher_exact(result)

SignificanceResult(statistic=1.0, pvalue=1.0)

In [37]:
stats.pearsonr(icu.drop(397).temperature, icu.drop(397)["heart rate"])

PearsonRResult(statistic=0.29780332856061853, pvalue=1.118148500008259e-11)

In [38]:
stats.spearmanr(icu.temperature, icu["heart rate"])

SignificanceResult(statistic=0.26599572175445046, pvalue=1.5207779303155718e-09)

In [39]:
stats.kendalltau(icu.temperature, icu["heart rate"])

SignificanceResult(statistic=0.18269029154469063, pvalue=1.9348573865883658e-09)

In [40]:
result_two = icu.groupby("outcome")["temperature"].apply(list)
stats.f_oneway(*result_two)

F_onewayResult(statistic=1.9571847180075135, pvalue=0.11950631981506887)

In [41]:
result_two = icu.drop(397).groupby("outcome")["temperature"].apply(list)
stats.f_oneway(*result_two)

F_onewayResult(statistic=5.2203056810786075, pvalue=0.001481073204953295)

In [42]:
stats.shapiro(icu.drop(397).temperature)

ShapiroResult(statistic=0.9918887615203857, pvalue=0.008012347854673862)

In [43]:
from statsmodels.stats.diagnostic import lilliefors

lilliefors(icu.drop(397).temperature, pvalmethod="approx")

(0.048498348779779654, 0.007001263561967399)

In [44]:
#  conda install -c conda-forge openturns
import openturns as ot
data = icu.drop(397).temperature
data = ot.Sample(np.reshape(data, (-1, 1)))
ot.NormalityTest.CramerVonMisesNormal(data)

class=TestResult name=Unnamed type=CramerVonMisesNormal binaryQualityMeasure=false p-value threshold=0.05 p-value=0.01426 statistic=0.167025 description=[]

In [45]:
# pip install sfrancia

import sfrancia as sf

sf.shapiroFrancia(icu.drop(397).temperature)

{'method': 'Shapiro-Francia normality test',
 'statistics W': 0.991310918637953,
 'statistics z': 2.5034940978076157,
 'p-value': 0.0061486865737002605}