In [1]:
import pandas as pd  
# pandas iki temel veri yapısına dayanır 1. seriler (series) ve veri çerçeveleri (Dataframe)

In [2]:
fruits = ["elma" , "armut" , "kiraz"]  # fruits adında bir liste oluşturduk 
fruits

['elma', 'armut', 'kiraz']

In [3]:
pd.Series(fruits) # pandas kütüphanesinden seri olşturarak yaptık sonuçta bize index şeklinde döndürdü

0     elma
1    armut
2    kiraz
dtype: object

In [4]:
kırtasiye = {
    "defter" : 30,
    "kalem" : 20,
    "silgi" : 10
}
kırtasiye

{'defter': 30, 'kalem': 20, 'silgi': 10}

In [5]:
pd.Series(kırtasiye) # kırtasiye şifresini seri şeklinde döndürdük

defter    30
kalem     20
silgi     10
dtype: int64

In [6]:
fiyatlar = pd.Series([3, 2, 1, 1.5])
fiyatlar

0    3.0
1    2.0
2    1.0
3    1.5
dtype: float64

In [11]:
fiyatlar.sum() # toplama işlemi yapar

7.5

In [12]:
fiyatlar.mean() # aritmetik ortalama alır

1.875

In [13]:
fiyatlar.product() # çarpım işlemi yapar

9.0

In [9]:
fiyatlar.std () # standart sapma alır
fiyatlar.min() # minimum değeri alır
fiyatlar.max() # maksimum değeri alır
fiyatlar.median () # medyanı bulur
fiyatlar.mode () # modunu alır

0    1.0
1    1.5
2    2.0
3    3.0
dtype: float64

In [15]:
deneme = pd.Series ([1, 2, 3, "soru"])
deneme

0       1
1       2
2       3
3    soru
dtype: object

In [19]:
try :               # try bloğunda hata bulunursa excpet hata yakalandığında ne yapacağını belirtir.
    deneme.sum()
except:
    print("Hata")

Hata

NameError: name 'Hata' is not defined

In [14]:
len(deneme) #serinin eleman sayısını verir.

4

In [15]:
deneme.size  # size da aynı işe yarar

4

In [16]:
deneme2 = pd.Series([1, 2, 3, None])  
deneme2

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

deneme.size

In [17]:
deneme2.size # bütün elemanların sayısını döndürür.

4

In [18]:
deneme2.count() # none ları ciddiye almadan eleman sayısını verir.

3

In [20]:
deneme.is_unique  #  Eğer serinin her elemanı farklı ise her elemandan 1 kere kullanılmışşsa True

True

In [22]:
deneme3 = pd.Series([1, 2, 3, 2])
deneme3.is_unique  # Eğer serinin içinde aynı elemandan 2 tane varsa False döndürür.

False

In [23]:
deneme3  #indexler ve valuelar

0    1
1    2
2    3
3    2
dtype: int64

In [24]:
deneme.index # listenin nerden başlayıp nerde bittiğini ve kaçar kaçar arttığını gösteriyor

RangeIndex(start=0, stop=4, step=1)

In [23]:
deneme.values # array içinde değerleri gösteriyor

array([1, 2, 3, 'soru'], dtype=object)

In [27]:
gunler = ["pazartesi" ,"sali" , "çarşamba"]
meyveler = ["elma" , "postakal" , "muz"]

pd.Series(meyveler, gunler)

pazartesi        elma
sali         postakal
çarşamba          muz
dtype: object

In [25]:
pd.Series(meyveler , gunler) # değer ve index  olarak atayabiliriz

pazartesi        elma
sali         postakal
çarşamba          muz
dtype: object

In [26]:
pd.Series(index=gunler , data=meyveler)   # burada hangisinin index hangisinin value olduğunu seçeriz

pazartesi        elma
sali         postakal
çarşamba          muz
dtype: object

In [3]:
df = pd.read_csv("./resources/pokemon.csv")
df   # pandas kütüphanesini kullanrak bir CSV dosyasını okur . ve bunu pandas dataframe e yükler.

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [32]:
type(df)  # df nin veri tipini döndürür

pandas.core.frame.DataFrame

In [39]:
pd.read_csv("./resources/resources/pokemon.csv" , usecols=["Pokemon"])
# usecols ile hangi sütunların seçileceği belirtilir.

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [4]:
serie = pd.read_csv("./resources/pokemon.csv" , usecols=["Pokemon"]).squeeze("columns")
serie  # squeeze dataframei seriye çevirir.

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [28]:
type(serie)

pandas.core.series.Series

In [29]:
serie.head() # üstten beş kayıt gösteririr
serie.head(n=2) # üstten 2 kaydı gösterir
serie.tail() # sondan 5 kaydı gösterir

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [ ]:
dir(serie) # nesnenin sahip olduğu özellikleri ve metodları getirir.

In [ ]:
sorted(serie) # küçükten büyüğe doğru liste olarak döndürür

In [ ]:
sorted(serie ,reverse=True) #  tersten sıralıyor (büyükten küçüğe sıralar)

In [ ]:
list(serie) # seriyi liste haline getiriyor

In [ ]:
dict(serie) # seri yi sözlüğe dönüştürür

In [59]:
serie.sort_values() # pandas serisini değerleine göre sıralar sort_value (küçükten büyüğe sıralam yapar)

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [45]:
serie.sort_values(ascending=False) # büyükten küçüğe doğru bir sıralama verir

717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
         ...
680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, Length: 721, dtype: object

In [38]:
# (inplace=True) seri üzerinde yapılan işlemler kalıcı hale gelir

In [6]:
seri2 = pd.read_csv("./resources/pokemon.csv" ,
                   index_col="Pokemon").squeeze("columns")
seri2

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [50]:
seri2.sort_index(inplace=True)
seri2
# inplace yapılan işlemi kalıcı hale getirir. küçükten büyüğe sıralar(sort_index)indexe göre

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [66]:
"Abra" in seri2 # Abra seri2 içinde var mı diye sordum

True

In [67]:
"Rock" in seri2.values # Rock değeri bu seride var mı diye aratttık

True

In [68]:
seri2.index # pandas serisinin indexlerini döndürür

Index(['Abomasnow', 'Abra', 'Absol', 'Accelgor', 'Aegislash', 'Aerodactyl',
       'Aggron', 'Aipom', 'Alakazam', 'Alomomola',
       ...
       'Zangoose', 'Zapdos', 'Zebstrika', 'Zekrom', 'Zigzagoon', 'Zoroark',
       'Zorua', 'Zubat', 'Zweilous', 'Zygarde'],
      dtype='object', name='Pokemon', length=721)

In [69]:
type(seri2.index)

pandas.core.indexes.base.Index

In [70]:
seri2   # serideki bir elemanı aratmak için index kullanırız.

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [71]:
seri2 ["Abra"] # Abra indexindeki değeri verir

'Psychic'

In [72]:
 seri2[1] # 1. indexin value sini verir.

'Psychic'

In [74]:
seri2[[1 , 3 , 5]] # 1. 3. ve 5. indexi ve valuesini verir

Pokemon
Abra          Psychic
Accelgor          Bug
Aerodactyl       Rock
Name: Type, dtype: object

In [75]:
seri2[["Abra" ,"Accelgor"]]

Pokemon
Abra        Psychic
Accelgor        Bug
Name: Type, dtype: object

In [76]:
seri2[0:8]# 0  dahil 8 dahil değildir

Pokemon
Abomasnow       Grass
Abra          Psychic
Absol            Dark
Accelgor          Bug
Aegislash       Steel
Aerodactyl       Rock
Aggron          Steel
Aipom          Normal
Name: Type, dtype: object

In [77]:
seri2[0:8:2]  # 0 start 8 stop 2 step kaçar kaçar artacağı gösterir.

Pokemon
Abomasnow    Grass
Absol         Dark
Aegislash    Steel
Aggron       Steel
Name: Type, dtype: object

In [79]:
seri2[:3] # başını otomatik olarak 0 alır

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Name: Type, dtype: object

In [80]:
seri2[718:]  # serinin 718. öğesinden sonraki sona kadar olan öğeleri getirir.

Pokemon
Zubat       Poison
Zweilous      Dark
Zygarde     Dragon
Name: Type, dtype: object

In [81]:
seri2[-1] # son elemanı getirir

'Dragon'

In [83]:
seri2[-24:] # son 24 elemanı gösterir

Pokemon
Wigglytuff      Normal
Wingull          Water
Wobbuffet      Psychic
Woobat         Psychic
Wooper           Water
Wormadam           Bug
Wurmple            Bug
Wynaut         Psychic
Xatu           Psychic
Xerneas          Fairy
Yamask           Ghost
Yanma              Bug
Yanmega            Bug
Yveltal           Dark
Zangoose        Normal
Zapdos        Electric
Zebstrika     Electric
Zekrom          Dragon
Zigzagoon       Normal
Zoroark           Dark
Zorua             Dark
Zubat           Poison
Zweilous          Dark
Zygarde         Dragon
Name: Type, dtype: object

In [51]:
seri2["Abra"]

'Psychic'

In [53]:
seri2.get("Abra" , "Key Yok") # get metodu burada indexine karşılık gelen değerini getirir
                              # indexin karşılığı yoksa birşey yapmaz

'Psychic'

In [87]:
seri2["Abra"] ="Merhaba" # Abranın değerini değiştirdik
seri2

Pokemon
Abomasnow      Grass
Abra         Merhaba
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [55]:
seri2[[0, 2, 4]]= ["A" , "L" , "İ"] # Birden fazla indexteki değeri değiştirdik
seri2

Pokemon
Abomasnow          A
Abra         Psychic
Absol              L
Accelgor         Bug
Aegislash          İ
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [7]:
nba = pd.read_csv("./resources/nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
type(nba)

pandas.core.frame.DataFrame

In [93]:
nba.head(2) # Baştan ilk 2 satırı getirir

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0

In [94]:
nba.tail(2) # Sondan 2 satırı getirir

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
nba.index # dataframe alanındaki bilgiyi verir

RangeIndex(start=0, stop=458, step=1)

In [96]:
nba.values # çok boyutlu liste oluşturur ve listeyi geri döndürür. (dataframe in değerlerini döndürür)

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [57]:
nba.shape  # satır ve sütun sayısını döndürür.

(458, 9)

In [97]:
nba.axes # hem sütun hem index bilgisi verir

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [98]:
nba.dtypes # hem sütun isimleri hem o sütunda tutulan bilgierin hangi tipte olduğu bilgisine ulaşırız.

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [99]:
nba.columns # column isimlerini tek tek verir

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [100]:
nba.info() # veri hakkında genel bilgi verir.
# college alanında eksik bilgi var onu gösterir. salary alanında da 11 tane alan boştur
# bellekte ne kadar yer kapladığı hakkında bilgi verir , veri tiplerini gösterir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [9]:
revenue = pd.read_csv("./resources/revenue.csv" , index_col="Date")
revenue

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

In [102]:
revenue.sum() # sütun bazında toplam alır.

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [103]:
revenue.sum(axis=0) # yukardaki aynı sonucu alır

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [104]:
revenue.sum(axis="index") # aynı işe yarar

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [105]:
revenue.sum(axis=1) # satır bazında toplamı verir

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [106]:
revenue.sum(axis="columns") # yukardakinin aynısı

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [107]:
nba.Name # name alanındaki bilgileri seri olarak döndürdü

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [108]:
nba["Name"] # yukardaki işlemin aynısını yapar

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [109]:
nba[["Name", "Number" , "Salary"]] # Bu dataframe üzerindeki columns lar seçilerek getirilir.

              Name  Number     Salary
0    Avery Bradley     0.0  7730337.0
1      Jae Crowder    99.0  6796117.0
2     John Holland    30.0        NaN
3      R.J. Hunter    28.0  1148640.0
4    Jonas Jerebko     8.0  5000000.0
..             ...     ...        ...
453   Shelvin Mack     8.0  2433333.0
454      Raul Neto    25.0   900000.0
455   Tibor Pleiss    21.0  2900000.0
456    Jeff Withey    24.0   947276.0
457            NaN     NaN        NaN

[458 rows x 3 columns]

In [58]:
nba["College"] = "SDÜ"
nba  # Bütün college alanındaki değerleri SDÜ yaptı

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,SDÜ,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,SDÜ,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,SDÜ,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,SDÜ,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,SDÜ,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,SDÜ,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,SDÜ,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,SDÜ,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,SDÜ,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SDÜ,NaN

In [11]:
nba.to_excel("./resources/nba.csv") # excel dosyası şeklinde görüntüler

ValueError: No engine for filetype: 'csv'